/*body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}
.address {
  margin-top: 20px;
}
.hours {
  margin-top: 20px;
}
.website {
  margin-top: 20px;
  text-align: center;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

